@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body {
    background: url('../images/background-rpg.jpeg') no-repeat center center fixed;
    background-size: cover;
}

main {
    font-family: 'MedievalSharp', cursive;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 6rem;
}

.container{
    padding: 20px;
    letter-spacing: .2rem;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    background-color: var(--box-shadow-color);
    box-shadow: 0 0 15px var(--box-shadow-color);
}

h1 {
    color: var(--highlight-color);
    font-size: 2.5rem;
    margin-bottom: 1rem;  
}

.botao {
    background-color: var(--text-red);
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: var(--border-color);
}

.resultado {
    margin-top: 20px;
    font-size: 1.8em;
    color: var(--RPG-white);
}

.resultado ul {
    list-style: none;
    padding: 0;
}

.resultado li {
    margin: 10px 0;
    text-shadow: 2px 2px 4px var(--RPG-black);
}

.resultado{
    text-transform: capitalize;
}

i{
    font-size: 1.25rem;
    margin-bottom: 8px;
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-bottom: .5rem;
}

